/* Google Fonts: 'Outfit' */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Outfit', 'Arial', sans-serif;
}

body {
    background-color: #D5E1EF;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    width: 320px;
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#qrcode {
    width: 288px;
    height: 288px;
    border-radius: 10px;
    margin: 16px 0 24px;
}

article {
    width: 288px;
    height: 129px;
    text-align: center;
    margin-bottom: 40px;
}

h1 {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
    color: #1F314F;
}

p {
    font-size: 15px;
    letter-spacing: 0.19px;
    margin: 0 16px;
    color: #7D889E;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 11px;
    text-align: center;
}

footer a {
    color: #3E52A3;
    text-decoration: none;
}